# API Keys
GOOGLE_API_KEY=<REPLACE_ME>
CO_API_KEY=<REPLACE_ME>
OPENAI_API_KEY=<REPLACE_ME>

# LangSmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<REPLACE_ME>
LANGSMITH_PROJECT=<REPLACE_ME>

# Istaroth Configuration
ISTAROTH_DOCUMENT_STORE_SET=CHS:/data/checkpoint_web/chs
ISTAROTH_AVAILABLE_MODELS=all
ISTAROTH_TRAINING_DEVICE=cpu
ISTAROTH_QUERY_TRANSFORMER=rewrite
ISTAROTH_RERANKER=cohere
ISTAROTH_DATABASE_URI=sqlite+aiosqlite:////data/web.sqlite
